h1 { /*section title*/
	color: #113091;
	font-family: 'Great Vibes', cursive;
	text-align: center;
	margin-top: 4px;
}

h2 {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

h3 { /*section subtitle*/
	color: #000;
}

p {
	font-size: 16px;
}

body {
	color: #777;
	font-family: 'EB Garamond', serif;
}

:root {
	--accent: #113091;
}

.events h3 {

}

.center {
	text-align: center;
}

.link {

}